.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em;
}

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em;
}

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img.alignleft,
img.alignright {
  float: none;
  margin: 0;
}

/* Fix image alignment */
img.alignleft {
  float: left;
  margin-right: 1.5em;
}

img.alignright {
  float: right;
  margin-left: 1.5em;
}

/* Aligned blockquotes */

.entry-content blockquote.alignleft,
.entry-content blockquote.alignright {
  color: #666;
  font-size: 13px;
  font-size: 0.8125rem;
  width: 48%;
}

.entry-content blockquote.alignleft,
.entry-content blockquote.alignright {
  font-size: 14px;
  font-size: 0.875rem;
}

